<div class="scrollable-content">
    <div class="list-group-item justified" ng-repeat="idx in [1,2,3,4,5,6,7,8,9]">
        <a href="">
            <div class="pull-left">
                <!--<i class="fa fa-user chat-user-avatar"></i>-->
                WO # {{idx}}
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel explicabo, aliquid eaque soluta nihil eligendi adipisci error, illum corrupti nam fuga omnis quod quaerat mollitia expedita impedit dolores ipsam. Obcaecat</p>
                <small>ABCD</small>
            </div>
        </a>
        <a style="vertical-align: middle;width: 1px;"><i class="fa fa-chevron-right pull-right"></i></a>
    </div>
</div>