<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title></title>

    <link data-require="chosen@*" data-semver="1.0.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css" />
    <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script data-require="chosen@*" data-semver="1.0.0" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"></script>
    <script data-require="chosen@*" data-semver="1.0.0" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.proto.min.js"></script>
    <script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
    <script src="https://rawgit.com/leocaseiro/angular-chosen/master/dist/angular-chosen.min.js"></script>
    <style>
        select {
            width: 400px;
        }
    </style>
    <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
    

    <h2>Fillers</h2>
    <select chosen multiple
            ng-model="state"
            placeholder-text-multiple="'prasad'" search-contains="true"
            ng-options="s.id as s.title for s in states">
        <option value=""></option>
    </select>
    <!--<h2>Single</h2>
    <select chosen
            ng-model="selected"
            ng-options="s.id as s.title for s in states">
        <option value=""></option>
    </select>-->
</body>
</html>
